Repository mjfos2r/ont-borrelia-assembly: changes, and which pre-commit hooks are due for each by the changed paths.
All: miniwdl-check, yamllint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: miniwdl-check
    name: miniwdl check
    language: system
    files: ".+\\.wdl"
    verbose: true
    entry: miniwdl
    args: [check]
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    language: system
    files: ".+\\.(yml|yaml)"
    verbose: true
    entry: yamllint
    args: [-d, relaxed]

expanded DemuxAndQC to accomodate singleplex or multiplex runs. also expanded samplesheet task to allow for output to a desired DataTable.
  .dockstore.yml
  wdls/pipelines/ONT_DemuxAndQC.wdl
  wdls/tasks/utilities/GeneralUtils.wdl
  wdls/tasks/utilities/SamplesheetUtils.wdl
Due: miniwdl-check, yamllint

bumped version
  ._VERSION
Due: none

whoops I forgot that I separated demux to its own workflow.
  .dockstore.yml
  wdls/pipelines/ONT_DemuxAndQC__deprecated.wdl
  wdls/tasks/utilities/GeneralUtils.wdl
Due: miniwdl-check, yamllint

removing bad workflows so they aren't accidentally used.
  .dockstore.yml
Due: yamllint

updated .dockstore.yml
  .dockstore.yml
Due: yamllint

fixed output naming issue in B2fq.
  ._VERSION
  contam.fa
  full_contam.fa
  wdls/tasks/utilities/BamUtils.wdl
Due: miniwdl-check

bumped version, fixed bad output path in Bam2fastq
  ._VERSION
  wdls/tasks/utilities/BamUtils.wdl
Due: miniwdl-check

conversion was taking far too long. Sorting is unnecessary because these aren't paired reads. Pipe straight into gzip.
  ._VERSION
  wdls/tasks/utilities/BamUtils.wdl
Due: miniwdl-check

fixed sampleid input issue
  ._VERSION
  lsk_contam.fa
  nbd_contam.fa
  wdls/pipelines/ONT_BAMtoFastq.wdl
Due: miniwdl-check

It was a bad gzip command.....
  wdls/tasks/utilities/BamUtils.wdl
Due: miniwdl-check

fixed naming issue and gzip command.
  wdls/pipelines/ONT_BAMtoFastq.wdl
  wdls/tasks/utilities/BamUtils.wdl
Due: miniwdl-check
